<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <h1><%= title %></h1>
 
    <% for (let i=0; i<exampleVar.length ;i++) { %>
      <div id="tab1" >
        <div id="row1" >
          <div id="cell1" onclick="location.href='/delete';" style="cursor: pointer;">
            <i class="material-icons">delete</i>
          </div>
          <div id="cell2">
            <div >
              <h3 id="message"><%= exampleVar[i].text %></h3>
              <div id="user">
                <p><%= exampleVar[i].user %> - <%= exampleVar[i].added %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <button id="addMessage"><a href="/new">Add New Message</a></button>
  
  </body>
</html>
